.margintop {
    margin-top: 100px;
    @include media-query-mobile {
        margin-top: 100px;
    }
    .ul-contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        padding-right: 270px;
        padding-top: 30px;
        @include media-query-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            justify-content: center;
            padding-right: 50px;
            padding-top: 30px;
        }
        .li-contacto {
            margin-right: 10px;
            .a-contacto {
                background-color: brown;
                color: white;
                border-radius: 50px;
                padding: 10;
                list-style-type: none;
                margin-left: 10px;
                text-decoration: none;
                &:hover {
                    background-color: rgb(236, 43, 43);
                }
                &:active {
                    background-color: rgb(100, 15, 15);
                }
                @include media-query-mobile {
                    background-color: brown;
                    color: white;
                    border-radius: 50px;
                    padding: 10;
                    list-style-type: none;
                    margin-left: 10px;
                }
            }
        }
    }
    .fuente-texto {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        @include media-query-mobile{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
        }
    }
    .btn-enviar {
        background-color: gainsboro;
        color: black;
        border-radius: 50px;
        padding: 10;
        text-decoration: none;
    }
    .btn-enviar:hover {
        background-color: gray;
    }
    .btn-enviar:active {
        background-color: lightslategrey;
    }
}
@media (max-width:480px) {
    .margintopmq {
        margin-top: 80px;
       }
}
.footer-contacto {
    position: fixed;
}


