#bodyRopas {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    #mainRopas {
        width: 100%;
        height: auto;
        background-image: url(../recursos/fondoropas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0; 
        .tienda-ropas {
            text-align: center;
            font-weight: 700;
            width: fit-content;
            @include media-query-mobile {
                top: 113px;
                position: relative;
                left: 156px;
                font-weight: 800;
            } 
        }
        #buzosBootstrap {
            margin-top: auto;
            margin-bottom: 150px;
            .tarjeta {
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: all 0.5s ease;
                }
                .btncomprar {
                    background-color: black;
                    border: none;
                    &:hover {
                        background-color:grey;
                    }
                }
            }
        }
        #remerasBootstrap {
            margin-top: auto;
            margin-bottom: 150px;
            .tarjeta {
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: all 0.5s ease;
                }
                .btncomprar {
                    background-color: black;
                    border: none;
                    &:hover {
                        background-color:grey;
                    }
                }
            }
        }
        #zapatillasBootstrap {
            margin-top: 150px; 
            margin-bottom: 150px;
            .tarjeta {
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: all 0.5s ease;
                    @include media-query-mobile {
                        transform: none;
                    }
                }
                .btncomprar {
                    background-color: black;
                    border: none;
                    &:hover {
                        background-color:grey;
                    }
                }
            }
        }
    }
}

