#herosk {
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 95vh;
    #tituleskate {
        text-align: center;
        position: relative;
        top: 68px;
        left: 344;
        color: white;
        width: fit-content;
        @include media-query-mobile {
            right: -91.04;
            top: 88px;
            position: relative;
            left: 26px;
        }
        .estilo-skate {
            font-family: 'Inter', sans-serif;
            font-weight: 900;
        }
    }
    .carrouselbt {
        position: relative;
        top: 95px;
    }
}