#tituleskate {
    margin-top: 150px;
    position: relative;
    right: -500px;
    margin-bottom: 10px;
    width: min-content;
    @include media-query-mobile {
        right: -91.04;
    }
    .estilo-skate {
        font-family: 'Inter', sans-serif;
        font-weight: 900;
    }
}
