#herosk {
    background-image: url(../recursos/fondoropas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 95vh;
    #tituleskate {
        text-align: center;
        position: relative;
        top: 68px;
        left: 510px;
        color: white;
        width: fit-content;
        @include media-query-mobile {
            right: -91.04;
            top: 88px;
            position: relative;
            left: 100px;
        }
        .estilo-skate {
            font-family: 'Inter', sans-serif;
            font-weight: 900;
        }
    }
    .carrouselbt {
        position: relative;
        top: 95px;
    }
}
.footer-skateboards {
    @include media-query-mobile {
        background-color: rgb(62, 61, 61);
        position: relative;
        height: 75px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        bottom: -472px;    
    }
}