footer {
    background-color: rgba(62, 61, 61, 1);
    position: relative;
    height: 75px;
    width: 100%;
    @include flexbox (row, start, center, wrap);
    bottom: 0; 
    p {
        color: white;
        margin-left: 40px;
    }
    @include media-query-mobile {
        position: fixed;
    }
}


