footer {
    background-color: rgba(62, 61, 61, 1);
    position: relative;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0; 
    p {
        color: white;
        margin-left: 40px;
    }
}


